
<section class = "pricing">
  <mat-card class = "basic-plan">
    <h3> Basic plan</h3>
    <h4> $69/mes</h4>
    <ul>
      <li>Hasta 20 máquinas monitoreadas</li>
      <li>Mapa de calor en tiempo real</li>
      <li>1 sede</li>
      <li>Soporte por email</li>
      <button mat-stroked-button> Buy now </button>
    </ul>
  </mat-card>

  <mat-card class = "Mid-plan">
    <h3> Mid plan</h3>

  </mat-card>

  <mat-card class = "Platinum-plan">
    <h3> Platinum plan</h3>

  </mat-card>

</section>
