@import "@fontsource/istok-web/index.css";
@import "@fontsource/istok-web/700.css"; /* Para las negritas */

* {
  margin: 0%;
  padding: 0%;
  font-family: "Istok Web";
  font-size: 16px;
}

.hero-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  justify-content: center;
  background: #000000 ;
  color: white;
  padding: 2%;
}

.hero-navbar{
  display: flex;
  gap: 10%;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: gray;
}


h1 {
  font-size: 40px;
}
